body {
  margin-top: 100px;
}

.tab {
  position: relative;
  width: 1200px;
  margin: auto;
  margin-bottom: 300px;
}

.tab-head {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100px;
  margin: auto;
  top: -20px;
  left: 180px;
}

#mendeleev {
  position: relative;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 200px;
}

.title-table {  
  margin: 0;
  font-size: 30px;
}

.text-table { 
  max-width: 580px;
  text-align: center;
  margin-top: 0;
}

td {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

th {
  border: 1px solid black;
  height: 15px;
  font-size: 12px;
}

.void {
  border: none;
}

.fourth {
  border: none;
  padding: 0;  
}

.star {
  padding: 0;
  background-color: rgb(232, 255, 231);  
}

.pink {
  background-color: rgb(250, 223, 241);
}

.blue {
  background-color: rgb(221, 242, 250);
}

.yelow {
  background-color: rgb(255, 250, 227);
}



.figur{
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 300px;
}

.chat {
  display: inline-block;
}

.telefon {
  border: solid 5px black;
  border-radius: 50px;  
  width: 340px;
  height: 600px;
  background-color: rgb(147, 145, 148);
}

.speaker {
  border: solid 1px black;
  border-radius: 20px;
  width: 30px;
  height: 3px;
  margin: auto;
  margin-top: 3px;
  background-color: black;  
}

.screen {
  position: relative;
  border: solid 1px black;
  border-radius: 40px;
  width: 300px;
  height: 520px;
  margin: auto;
  margin-top: 5px;
  padding-bottom: 5px;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 5px;  
  background: linear-gradient(rgb(250, 206, 214), rgb(192, 192, 250));
  overflow: auto;
  scrollbar-width: none;
  z-index: 1;
}

.masha, .pasha, .dasha {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  max-width: 250px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  box-shadow: 5px 5px 10px rgb(170, 232, 248);
}

.pasha {
  position: relative;
  margin-left: 50px;
  background: linear-gradient(70deg, rgb(201, 250, 238), rgb(170, 232, 248));
  text-align: end;
  & .name {
      padding: 0;
      margin: 3px;
      text-align: end;
      position: absolute;
      top: -25px;
      right: 0;
    }
}

.pasha::before {
  content: '';
  position: absolute;
  border-radius: 30px 0;
  border-bottom: 15px solid rgb(170, 232, 248);
  border-left: 5px solid transparent;
  border-top-color: transparent;
  width: 20px;
  height: 10px;
  transform: rotate(45deg);
  bottom: -5px;
  right: -10px;
  z-index: -1;   
}


.masha, .dasha {
  background: linear-gradient(180deg, rgb(201, 250, 238), rgb(170, 232, 248));
  text-align: start;
  & .name {
      padding: 0;
      margin: 3px;
      position: absolute;
      top: -25px;
      left: 0;
    }    
}

.masha::before {
  content: '';
      position: absolute;
      border-radius: 30px 0;
      border-bottom: 15px solid rgb(170, 232, 248);
      border-left: 5px solid transparent;
      border-top-color: transparent;
      width: 20px;
      height: 10px;
      transform: rotate(45deg);
      bottom: -5px;
      left: -10px;
      z-index: -1;
}

.dasha::before {
  content: '';
      position: absolute;
      border-radius: 30px 0;
      border-bottom: 15px solid rgb(170, 232, 248);
      border-left: 5px solid transparent;
      border-top-color: transparent;
      width: 20px;
      height: 10px;
      transform: rotate(45deg);
      bottom: -5px;
      left: -10px;
      z-index: -1;
}

.bottom {
  border: solid 2px black;
  border-radius: 20px;
  width: 27px;
  height:27px;
  margin: auto;
  margin-top: 2px;
  background-color: rgb(209, 209, 209);
}

.dob {
  margin: auto;
  margin-bottom: 30px;
  padding: 0;
  max-width: 200px;
  text-align: center;
  border: solid 1px transparent;
  background-color: rgba(160, 96, 96, 0.35);
  border-radius: 10px;
}



.form {
  border: solid 2px black;
  border-radius: 3px;
  width: 500px;
  height: 800px;
  margin: auto;
  padding: 50px;
  background-color: rgb(248, 241, 233);
}

.names {
  margin-bottom: 15px;
}

.name-form {
  border: solid 1px black;
  border-radius: 3px;
  width: 220px; 
  height: 30px;
  padding-left: 10px; 
}

.gender {
  margin-bottom: 15px;
}

.mail {
  display: block;
  margin-bottom: 5px;
}

.email {
  width: 480px;
  height: 20px;
}



/* Форма*/





.pact {
  display: grid;
  background-color: rgb(228, 217, 212);
  width: 400px;
  height: 600px;
  padding: 20px;
  margin: auto;
  border: solid 2px rgb(136, 136, 136);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(15, 30px);
  align-items: center;
  gap: 5px;
}

label {
  font-size: 19px;
  text-align: center;
}

#name {
  height: 23px;
  border: solid 2px rgb(151, 151, 151);
  border-radius: 5px;
  padding-left: 10px;
}

.sex {
  padding-left: 40px;
  grid-column-start: 1;
  grid-column-end: 3;
}

#title-mail {
  grid-column-start: 1;
  grid-column-end: 3;
}

#object-mail {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 10px;
  height: 23px;
  border: solid 2px rgb(151, 151, 151);
  border-radius: 5px;
}

#city {
  height: 29px;
  padding-left: 10px;
  font-size: 16px;
  border: solid 2px rgb(151, 151, 151);
  border-radius: 5px;
}

.citys {
  text-decoration: rgb(129, 129, 129);
}

#pas {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 30px;
  font-size: 20px;
}

#ser, #number {
  height: 23px;
  padding-left: 10px;
  border: solid 2px rgb(151, 151, 151);
  border-radius: 5px;

}

#ser {
  max-width: 90px;
  margin: auto;
}

#comment {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 14;
  height: 100%;
  border: solid 2px rgb(151, 151, 151);
  border-radius: 5px;
}

#file {
  grid-column-start: 1;
  grid-column-end: 3;
}