.calc {
  display: grid;
  width: 270px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
  background-color: rgb(184, 184, 184);
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(5, 60px);
  grid-template-areas:
    "result result result result"    
    "seven eight nine ."
    "four five six ."
    "one two three ."
    ". zero . ."  ;
  gap: 5px; 
  justify-content: center;
  align-content: center; 
}

.display {
  text-align: end;
}

.buttons {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: aliceblue;
  text-align: center;
  cursor: pointer;
}

.result {
  grid-area: result;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.zero {
  grid-area: zero;
}

input {
  width: 234px;
  height: 40px;
  padding: 10px;
  border: 1px solid;
  margin: auto;
}



